<%- include("header"); %>
    <link rel="stylesheet" href="/assets/gameComplete.css" type="text/css">
</body>
</head>

<body>
    <div id="theDiv"></div>
    <script src="/javascript/gameComplete.js"></script>

<%- include("bottom"); %>