<%- include("header"); %>
    <link rel="stylesheet" href="/assets/playAgain.css" type="text/css">
</head>
<body>
    <a href="/game"><button id="start-button"><strong>Play Again?</strong></button></a>
    <script src="/javascript/playAgain.js"></script>

<%- include("bottom"); %>