<%- include("header"); %>
<link rel="stylesheet" href="/assets/readMe.css" type="text/css">
</body>    
<body>
    <div id="theDiv">
        <p>Heres whats gonna happen....of course,I am assuming that you know what the the game is,and I am excluding that.
            Apart from that,with each level,the time you'll be getting will reduce and so will the number of chances (flips)
            you'll be getting in a particular round. And...yeah...there are five levels.
        </p>
    </div>
    <div id="buttonDiv">
        <a href="/"><button>&#8249;</button></a>
    </div>

<%- include("bottom"); %>