<%- include("header"); %>
    <link rel="stylesheet" href="/assets/startPage.css" type="text/css">
</head>
<body>
    <a href="/game"><button id="start-button"><strong>Start</strong></button></a>
    <br>
    <p id="readme"><a href="/readme" id="readmeAnchor">Click Here</a><span id="blinkThis"> (for instructions)</span></p>
    <script src="/javascript/startPageScript.js"></script>

<%- include("bottom"); %>
