<%- include("header"); %>
    <link rel="stylesheet" href="/assets/transition.css" type="text/css">
</head>
<body>
    <div id="previous-level"></div>
    <div id="next-level"></div>
    <script src="/javascript/transition.js"></script>

<%- include("bottom"); %>