body {
    background-image: linear-gradient(10deg, grey, black);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    height: 100px;
    width: 200px;
    transform: rotate(90deg);
    margin: 8.4vh 40px;
}

#heading-text {
    color: rgb(187, 187, 187);
    font-size: 50px;
    padding-top: 10px;
    text-align: center;
}

#intro-bar {
    display: flex;
    flex-direction: row;
}

#time-left,
#flips-left {
    margin-left: 20vw;
    font-size: 30px;
    color: rgb(187, 187, 187);
    display: flex;
    flex-direction: row;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#time,
#flips {
    margin-left: 1vw;
    margin-top: 5.9vh;
}

#level {
    text-align: center;
    color: whitesmoke;
    font-family: "BhuTuka Expanded One", cursive;
    margin-left: 5vw;
    margin-top: 3.5vh;
}